@model AuthorizationData
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/Authorization.css" media="all" />
</head>
<body>
    <div class="authContainer">
        <form class="authForm" asp-controller="Auth" asp-action="Authorization" method="post">
            <div class="authFormDiv">
                <input asp-for="email" class="email" type="text" placeholder="Введите email"></input>
                <input asp-for="password" class="password" type="password" placeholder="Введите пароль"></input>
                <input type="submit" value="Отправить"/>
                <a asp-action="Register" asp-controller="Auth">Зарегистрироваться</a>
            </div>
            @Html.ValidationSummary(false, "", new { @style = "color:orange" })
        </form>
    </div>
</body>
</html>