@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - diplom</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/diplom.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="topBars">
                <div class="courses">
                    <a asp-controller="Course" asp-action="">Available courses</a>
                </div>
                <div id="accountLogIn">
                    @{
                        if (!(HttpContextAccessor.HttpContext.Request.Cookies["token"] == "true"))
                        {
                            <a asp-controller="Auth" asp-action="Authorization">Log In</a>
                        }
                        else {
                            <a asp-controller="Auth" asp-action="DeAuthorization">Log out</a>
                        }
                    }
                </div>
            </div>
        </header>
        @RenderBody()  
    </div>
</body>
</html>