@model CourseDataDTO
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/CreateCourse.css" media="all" />
    <meta charset="UTF-8">
</head>
<body>
    
    <div class="courseFormContainer">
        <form asp-controller="Course" asp-action="createCourse" method="post" enctype="multipart/form-data">
            <div class="courseDataHeader">
                <input asp-for="courseHeaderData.courseImageData" type="file" id="pictureSelectInput" accept="image/png, image/jpeg" required />
                <textarea asp-for="courseHeaderData.courseName" type="text" class="courseNameTextarea" placeholder="Название курса" required></textarea>
                <textarea asp-for=courseHeaderData.courseDescription class="courseDescriptionTextarea" placeholder="Описание курса"></textarea>
                <input type="submit" name="sub" value="Применить"/>
            </div>
            @Html.ValidationSummary();
        </form>
    </div>
    
</body>
</html>
