@model CourseBatchDTO
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/Course.css" media="all" />
</head>
<body>
    <div class="courseContainer">
        @{
            foreach (Course course in Model.courses) {
                <div class="courseTiles">
                    <a asp-controller="Course" asp-action="SelectedCourse" asp-route-courseName="@course.courseName">@course.courseName </a>
                    <div class="imgContainer">
                        <img src="@course.courseImageLink"/>
                    </div>
                    <label>@course.courseDescription</label>
                </div>
            }
        }
    </div>
</body>
</html>